In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Heart.csv')
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [3]:
df['Sex1'] = df.Sex.replace({1: "Male", 0: "Female"})

In [4]:
dx = df[["AHD", "Sex1"]].dropna()

In [5]:
pd.crosstab(dx.AHD, dx.Sex1)

Sex1  Female  Male
AHD
No        72    92
Yes       25   114

###### The number of females who have heart disease is 25. Calculate the female population proportion with heart disease.

In [6]:
p_fm = 25/(72+25)

In [7]:
p_fm

0.25773195876288657

##### The â€˜p_fmâ€™ is 0.26. The size of the female population:

In [8]:
n=72+25

##### The size of the female population is 97. Calculate the standard error

In [9]:
se_female = np.sqrt(p_fm * (1 - p_fm) / n)
se_female

0.044409783007282766

#####  Confidence Interval

In [11]:
z_score = 1.96
lcb = p_fm - z_score* se_female  #lower limit of the CI
ucb = p_fm + z_score* se_female  #upper limit of the CI

In [13]:
lcb

0.17068878406861235

In [14]:
ucb

0.3447751334571608

#####  The confidence interval is 0.17 and 0.344.